<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/dashmenu.ejs') %>
    <%- include('./partials/dashhea.ejs', {'titulo':'dashboard'}) %>
<body>
    <%- include('./partials/dashbody.ejs') %>
    <%- include('./partials/update.ejs') %>
    <%- include('./partials/create.ejs') %>
    <%- include('./partials/dashfoot.ejs') %>

            <!-- Scripts -->
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/dash/js/crear.js"></script>
    <script src="/dash/js/editar.js"></script>
    <script src="/dash/js/eliminar.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/df4p1nC9AGt1A0W3ALQFwUtGk/6YijB8Nf1S6JXpJU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xM6CU5v6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>